@model ProjetWeb.ViewModels.AlbumViewModels

@{
    ViewBag.Title = "Details de " + Model.Album.Titre_Album;
}

<div class="row">
    <div class="col-md-3">
        <p class="lead">Albums du même compositeur :</p>
        <div class="list-group">
            <a href="#" class="list-group-item active">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="thumbnail">
            <img class="img-responsive center-block" src="@Url.Action("PochetteAlbum", "Media", new { id=Model.Album.Code_Album})" alt="@Model.Album.Titre_Album">
            <div class="caption-full">
                <h4 class="pull-right">@Model.Prix</h4>
                <h3>@Model.Album.Titre_Album</h3>
                <p>@Model.Description</p>
                <ul>
                @foreach(var enregistrement in Model.Enregistrements)
                {
                    <li>@enregistrement.Titre</li>
                    <audio controls>
                        <source src="@Url.Action("ExtraitMusique", "Media", new { id = enregistrement.Code_Morceau })"/>
                    </audio>
                }
                </ul>
                <p> Compositeurs :</p>
                <ul>
                @foreach (var compositeur in Model.Musiciens)
                {
                    <a href="http://localhost:59540/Musiciens/Details/@compositeur.Code_Musicien">@compositeur.Nom_Musicien @compositeur.Prénom_Musicien</a>
                }
                </ul>
            </div>
        </div>
    </div>
</div>