<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Projet Web S3">
    <meta name="author" content="Alexandre JACQUOT - Florent Mariotti">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Pour les affichages mobiles -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Albums Shop", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <!-- Liste des liens du menu -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("A propos", "APropos", "Home")
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Contenu de la page -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Albums du même compositeur :</p>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive center-block" src="@Url.Action("PochetteAlbum", "Images", new { id=ViewBag.Id})" alt="@ViewBag.Titre">
                    <div class="caption-full">
                        <h4 class="pull-right">@ViewBag.Prix €</h4>
                        <h4>
                            <a href="#">@ViewBag.Nom</a>
                        </h4>
                        @RenderBody()
                        @RenderSection("DescriptionAlbum", false)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Alexandre JACQUOT - Florent MARRIOTI</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap Core JavaScript -->
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

