@model ProjetWeb.Models.Abonné
@{
    ViewBag.Title = "Votre compte";
}

<h2>Bonjour @Model.Nom_Abonné !</h2>
<div class="row">
    <div class="col-sm-3">
        <p>@Model.Nom_Abonné @Model.Prénom_Abonné</p>
        <p>Vos crédits : @Model.Crédit €</p>
    </div>
    <div class="col-sm-9">
        <h3>Que voulez-vous faire ?</h3>
        <p>@Html.ActionLink("Modifier vos informations", "Manage", "Account")</p>
        <p>@Html.ActionLink("Afficher votre panier", "ShowCart", "Account")</p>
        <p>@Html.ActionLink("Ajouter des fonds", "AddFunds", "Account")</p>
    </div>
</div>